{% load staticfiles %}
{% load leaflet_tags %}
<html>
    <head>
        {% leaflet_js plugins="forms" %}
        {% leaflet_css plugins="forms" %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'js/plugins/leaflet/leaflet.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
        <title>google maps</title>
        
    </head>
    <body>
    <div class="container">

    <form action="." method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">sign up</button>
    </form>

    <form action="." method='post'>
            {% csrf_token %}
            {{ leaf_form }}
            <input type="submit"/>
        </form>



        <p id="message"></p>
      {% if posts %}
        {% for post in posts %}
        <li> {{ forloop.counter }}{{ post.heading }}</li>
        <p>{{ post.text }} </p>
  
        <a class="btn btn-info likebutton" id="like{{post.id}}" href="#" data-catid="{{ post.id }}">Like</a>
         <p class="btn btn-success">likes {{ post.post_likes.count }}</p>
        {% endfor %}
      {% else %}
      <h3>No posts yet</h3>
      {% endif %}
   <button id="geolocate" class="btn btn-info">locate me</button>
    <div id='map' style="height:900px;width:1500px"></div>
  

</div>

      <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
      
      <script src="{% static 'js/plugins/leaflet/leaflet.js' %}"></script>
      <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
      <script>
          $('.likebutton').click(function(){
             
              var catid;
              catid = $(this).attr('data-catid')
              alert(catid)
              $.ajax(
                  {
                      type:"GET",
                      url: '/like_post',
                      data: {
                          post_id:catid
                      },
                      success: function(data){
                          $('#message').text(data)

                      }
                  }
              )
          });

          $('#id_username').change(function(){
              var username = $(this).val()
              $.ajax({
                  type: "POST",
                  url: '/validate_username',
                  data: {
                      username:username
                  },
                  dataType: json,
                  success: function(data){
                      if(data.is_taken){
                        alert("that username exists.")
                      }
                      
                  }
              })
          });

















          //maps
         var ctlRouting;
         var mymap;

         $(document).ready(function(){
          mymap = L.map('map').setView([-1.300561, 36.784549], 14);
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(mymap);
          var coolicn = '/static/marker.png'
          var dt = L.geoJSON.ajax('http://127.0.0.1:8000/data',{
            pointToLayer: function(feature, latlng){
                var att = feature.properties;
                return L.marker(latlng, {
                    icon: L.icon({
                        iconUrl: coolicn,
                        iconSize: [40, 48],
                        iconAnchor: [12, 28],
                        popupAnchor: [0, -25]
                      }),
                   riseOnHover: true
                })
            },  
            onEachFeature: function(feature, layer){
            var attr = feature.properties;
                if (attr) {
                  var content = 
                  "<table class='table table-striped table-bordered table-condensed'>" + 
                  "<tr><th>event name</th><td>" + attr.name + 
                  "<tr><th>description</th><td>" + "this event is about this and that"
                  "<table>";
                  layer.on({
                    click: function (e) {
                      
                      layer.bindPopup(content)
                      mymap.locate();
                      mymap.on('locationfound', function (e) {
                          if(ctlRouting){
                              ctrlRouting.remove()
                          }
                          var point = layer.feature.geometry.coordinates
                          var coords = e.latlng
                          points = []
                          L.marker([coords.lat,coords.lng]).bindTooltip("<h1> My current location </h1>").addTo(mymap);

                          ctlRouting = L.Routing.control({
                            waypoints: [
                              L.latLng(coords.lat,coords.lng),
                              L.latLng(point[1], point[0])
                            ],
                            createMarker: function(i, point, n){ 
                               points.push(point.latLng)
                              
                                //var line = L.polyline(dt).addTo(mymap);
                            },

                            router: L.Routing.mapbox('pk.eyJ1IjoiZGVyeSIsImEiOiJjaWY5anJyN3YwMDI5dGNseHoyZzM4Z3R4In0.dToOXYIZ30LH_7VtFbKW4A')
                            
                        }).addTo(mymap);
                       

                      });
                      mymap.on('locationerror', function(){
                          alert("please allow saka for app to access your location ")
                      })
                     

                    }
                  });
                }
            }
    
        }).addTo(mymap);
        mymap.on('data:loaded', function(){
            mymap.fitBounds(dt.getBounds())
        })

    })

      </script>
    </body>
</html>
